header {
    position: relative;
}

header .nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

header .nav-tabs {
    border-bottom: 1px solid transparent;
}

header .nav-tabs .nav-link.active,
header .nav-tabs .nav-item.show .nav-link {
    background-color: #f8f9fa;
    border-color: #dee2e6 #dee2e6 #f8f9fa;
}

header .nav-tabs .nav-link:focus,
header .nav-tabs .nav-link:hover {
    border-bottom-color: transparent;
}